.small-nav {
    background-color: #fd5d93 !important;
    height: 100px !important;
}
hr {
    color: white !important;
}

.no-border input {
    width: 500px !important;
    height: 50px !important;
}

.card.card-coin .card-header {
    margin: -100px auto -18px !important;
}

.icon-square-pin {
    height: 20px !important;
}