.small-nav {
    background-color: #fd5d93 !important;
    height: 100px !important;
}
hr {
    color: white !important;
}

.no-border input {
    width: 500px !important;
    height: 50px !important;
}