/*
@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs&display=swap');

* {
  box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
*/
